@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    margin: 2px 0px;
}

p{
    font: 10px/20px 'Poiret One', cursive;
    display: block;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.d{
    background: #326dc7;
}

.m{
    background: #d9e0ee;
    color: black;
}
